$color-white: #fff;
$color-black: #000;

$status-ok: #4caf50;
$status-warning: #ff9800;
$status-error: #f44336;
$border-grey: #ddd;
$background-grey: lighten($border-grey, 7%);
$material-grey: transparentize($color-black, 0.64);
$url-light-blue: #63a6cf;

$message-bubble-color-in: #f7f7f7;
$message-bubble-color-out: #dff0d8;

$dark-background-color: #f6f6f6;
$bright-background-color: $color-white;

$material-card-shadow: 0 2px 5px 0 rgba($color-black, 0.16), 0 2px 5px 0 rgba($color-black, 0.23);
