$header-height: 51px;
$footer-height: 16px;
$main-padding: 8px;
$main-border-top: 5px;
$material-radius: 5px;

$avatar-area-size: 250px;

$footer-height: 64px;
$scrolljump-height: 36px;

$avatar-size-in-autocomplete: 30px;

$bubble-triangle-size: $main-padding;
